

<div *ngIf="searchResults" infiniteScroll (infiniteScrollAction)="getMoreResults()">
    <div *ngFor="let result of searchResults" class="highlight">
        <div [innerHTML]="result.incipitSvg|safeHtml" id="melody-{{result.id}}"></div>
        <div><span class="badge">{{result.voice}}</span> <span>{{result.captionOrHeading}}</span> <i>{{result.textIncipit}}</i></div>
        <a id="btnPlay-{{result.id}}" class="btn btn-primary" (click)="playMidi(result.id)">play</a>
        <a class="btn btn-primary" id="btnStop-{{result.id}}" (click)="stopMidi()" style="display:none"><i class="fa fa-stop-circle"></i> Stop</a>
    </div>
</div>

<p *ngIf="isLoading"><i class="fa fa-spinner fa-spin" style="font-size: 30px; margin: 10px 0px 10px 0px;"></i></p>

