@font-face {
    font-family: 'Polihymnia';
    src: url('/fonts/Polihymnia.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'Lato';
    src: url('/fonts/Lato-Light.ttf') format('truetype');
    font-weight: 200;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family:  Lato;
}

a {
    color: #925024;
}

.btn-primary {
    background-color: #b27044;
    border-color: #774226;
}

.btn-primary:hover {
    background-color: #d29064;
    border-color: #774226;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}


.navbar-inverse {
    background-color: gainsboro;
    border-color: transparent;
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }

    .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }

    .navbar-header {
        float: none;
    }

    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }

    .navbar ul {
        float: none;
    }

    .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }

        .navbar li a {
            padding: 10px 16px;
            border-radius: 4px;
        }

    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .navbar-inverse {
        background-color: transparent;
        border-color: transparent;
    }
}

.nopadding {
    padding:0px;
}

#searchPanel {
    padding: 25px;
}

.list-item {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-key-large {
    display: inline-block;
    background: url(/images/KeyLarge.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 78px;
    margin: 0px;
    padding: 0px;
    z-index: 1;
}

    .btn-key-large:hover {
        background: url(/images/KeyLargeHover.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

.btn-key-small {
    display: inline-block;
    background: url(/images/KeySmall.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 47px;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    z-index: 2;
}

    .btn-key-small:hover {
        background: url(/images/KeySmallHover.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

.btn-key-none {
    display: inline-block;
    height: 47px;
    margin: 0px;
    padding: 0px;
    margin-right: 10px;
    z-index: 0;
}


.noteViewer {
    width: 100%;
    overflow: hidden;
}

.note {
    font-family: Polihymnia;
    font-size: 22px;
    text-transform: none;
}

.btn-note {
    width: 12.5% !important;
    display: block;
    float: left;
    height: 45px;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-remove {
    width: 25% !important;
    display: block;
    float: left;
    height: 45px;
    padding-left: 0px;
    padding-right: 0px;
}

.note-selected {
    background-color: #fa8420 !important;
}

.nomargin-right {
    margin-right: 0px;
}

.nomargin-left {
    margin-left: 0px;
}


.relevance-badge {
    margin-right: 10px;
    font-size: 22px;
    font-weight: 200;
    color: #c28054;
    width: 80px;
    text-align: left;
}

.extra-space-bottom {
    margin-bottom: 10px;
}

@media(min-width:768px) {
    #searchPanel {
        min-height: 20px;
        margin: 19px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
    }

    #searchPanel h1 {
        margin-top: 0px;
    }
}