@{
    Layout = "_LayoutWelcome";
}

@section LeadText {
    <div id="mainbar" style="width:100%; background-image:url(/Images/Background2g.jpg); background-repeat:no-repeat; background-size: cover; ">

        <img src="~/Images/header-shadow.png" style="position:absolute; width:100%; margin:-30px;" />
        <div class="container ">


            <div class="pull-right"><img src="~/Images/Postac1.png" id="MainBarCharacter" /></div>

            <!--<div id="MainBarKolbergLogoWrapper"><a href="http://www.oskarkolberg.pl/"><img id="MainBarKolbergLogo" src="~/Images/KolbergLogo.png" alt="Instytut Oskara Kolberga"></a></div>
    -->

            <div class="website-title1">Incipit search engine</div>
            <div class="website-title2">for RISM catalogue</div>

            <div class="clearfix mainbarbuttons">


                <a class="btn btn-primary" href="/Catalogue">Browse catalogue</a>
            </div>


        </div>
    </div>
    <img src="~/Images/header-shadow.png" style="position:absolute; width:100%; " />
}

<div>

</div>
<div class="row articleText">
    <h1>FAQ</h1>
    <h3>Question 1</h3>
    fesfsefse
</div>

