@using Manufaktura.Music.Model
@using Manufaktura.Controls.Model
@using Manufaktura.Controls.Rendering.Implementations
@using Manufaktura.RismCatalogue.Shared.Services

@inject ISettingsService settingsService;
@inject ScoreRendererService scoreRendererService;

<div class="noteViewer">
    @((MarkupString)RenderScore())
</div>

@functions {
    [Parameter]
    Score Score { get; set; }

    [Parameter]
    RhythmicDuration CurrentRhythmicDuration { get; set; } = RhythmicDuration.Quarter;


    [JSInvokable]
    public void AddNote(int midiPitch)
    {
        var note = Note.FromMidiPitch(midiPitch, CurrentRhythmicDuration);
        Score.FirstStaff.Add(note);
        StateHasChanged();

        JSRuntime.Current.InvokeAsync<object>("playNote", midiPitch);
    }

    public string RenderScore() => scoreRendererService.RenderScore(Score);


    protected override async Task OnInitAsync()
    {
        await JSRuntime.Current.InvokeAsync<object>("registerNoteViewer", new DotNetObjectRef(this));
    }

}